.message {
  display: block;
  margin: 10px auto;
  box-shadow: 0 0 0 1px #e0b4b4 inset, 0 0 0 0 transparent;
  background-color: #fff6f6;
  color: #9f3a38;
  padding: 1em 1.5em;
  box-sizing: border-box;
  width: 100%;
  max-width: 800px;
}
.message span {
  font-weight: bold;
}
.phone {
  position: absolute;
  width: 36px;
  height: 60px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border-radius: 5px;
  background: #333;
  transform: rotate(20deg);
}
.phone:before {
  position: absolute;
  content: "";
  width: 30px;
  height: 40px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}
.rotate {
  position: absolute;
  width: 100%;
  height: 30px;
  border-radius: 50%;
  border: 3px solid #aaa;
  border-bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  transform: rotate(20deg);
  z-index: -2;
  box-sizing: border-box;
}
.rotate:before,
.rotate:after {
  position: absolute;
  content: "";
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  bottom: -5px;
}
.rotate:before {
  border-left: 10px solid #aaa;
  left: 15px;
  transform: rotate(10deg);
}
.rotate:after {
  border-right: 10px solid #aaa;
  right: 15px;
  transform: rotate(-10deg);
}

.icon {
  background: #70b5e0;
  border-radius: 50%;
  box-shadow: inset -15px -15px 0px 0px rgba(0, 0, 0, 0.1);
}
.anchor {
  position: absolute;
  width: 24px;
  height: 24px;
  background: #f77;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation: anchor 10s both infinite;
}

.place {
  position: absolute;
  width: 20px;
  height: 13px;
  background: #f2ddaa;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.anchor:before {
  position: absolute;
  content: "";
  top: 70%;
  left: 50%;
  transform: translate(-50%, 0);
  border-top: 13px solid #f77;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.anchor:after {
  position: absolute;
  content: "";
  width: 30%;
  height: 30%;
  background: white;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.place1 {
  top: 77%;
  left: 64%;
}

.place2 {
  width: 17px;
  height: 10px;
  top: 67%;
  left: 25%;
}

.place3 {
  width: 17px;
  height: 10px;
  top: 36%;
  left: 75%;
}

.place4 {
  width: 17px;
  height: 10px;
  top: 26%;
  left: 35%;
}

.anchor1 {
  top: 55%;
  left: 65%;
  animation-delay: 0.3s;
}

.anchor2 {
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%) scale(0.8);
  animation-delay: 0.6s;
}

.anchor3 {
  top: 20%;
  left: 75%;
  transform: translate(-50%, -50%) scale(0.8);
  animation-delay: 0.9s;
}

.anchor4 {
  top: 10%;
  left: 35%;
  transform: translate(-50%, -50%) scale(0.7);
  animation-delay: 1.2s;
}

@keyframes anchor {
  0% {
    opacity: 0;
    margin-top: -20px;
  }

  10% {
    opacity: 1;
    margin-top: 0px;
  }

  85% {
    opacity: 1;
    margin-top: 0px;
  }

  91% {
    opacity: 0;
    margin-top: -20px;
  }

  100% {
    opacity: 0;
    margin-top: -20px;
  }
}
.hotspot {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  z-index: 2;
}

.hotspot.search {
  width: 24px;
  height: 24px;
  /* border: 1px solid #fff; */
}

.hotspot.search:before {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  top: 0px;
  left: 0px;
  border-radius: 50%;
  border: 3px solid #fff;
}

.hotspot.search:after {
  position: absolute;
  content: "";
  top: 14px;
  left: 14px;
  width: 3px;
  height: 8px;
  background: #fff;
  transform-origin: 50% 0%;
  transform: rotate(-45deg);
}

.hotspot.link {
  text-align: center;
  font-weight: bold;
  color: #fff;
}

.viewer[data-page="1"] .hotspot[data-page="1"] {
  display: block;
}

.viewer[data-page="2"] .hotspot[data-page="2"] {
  display: block;
}

.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 4;
  display: none;
}

.layer img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 120px;
  margin: auto;
}

#loading {
  background: url('load.gif') no-repeat center center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9999999;
}
